data/cicids17/cicids17-reference/data.pcap filter=lfs diff=lfs merge=lfs -text
data/cicids17/cicids17-eval/data.pcap filter=lfs diff=lfs merge=lfs -text
data/cupid/cupid-eval/data.pcap filter=lfs diff=lfs merge=lfs -text
data/cupid/cupid-reference/data.pcap filter=lfs diff=lfs merge=lfs -text
data/dedale/dedale-eval/data.pcap filter=lfs diff=lfs merge=lfs -text
data/dedale/dedale-reference/data.pcap filter=lfs diff=lfs merge=lfs -text
