stages:
  - build
  - test
  - analyze
  - deploy

# services:
#   - docker:18.09-dind

# variables:
#   # the host where the docker instance is running
#   DOCKER_HOST: tcp://docker:2375/
#   # use for much faster builds
#   DOCKER_DRIVER: overlay2
#   # ensure cross knows it's running remotely
#   CROSS_REMOTE: 1

build-linux-x86-64:
  tags:
    - ci.inria.fr
    - large
  stage: build
  image: rust
  script:
    # version without network injection
    - cargo build -p fosr
    # version without ebpf and with iptables
    # - cargo build --features iptables -p fosr
    # version with ebpf
    - rustup toolchain install nightly --component rust-src
    - cargo install bpf-linker
    - cargo install cargo-deb
    # - cargo build --features ebpf # version with ebpf only
    # - cargo build --features "iptables,ebpf" --release # version with ebpf + iptables
    - cargo deb -p fosr
    - mkdir target/x86_64-unknown-linux-gnu
    - mv target/release target/x86_64-unknown-linux-gnu
    - cargo doc
    - mv target/doc doc
  artifacts:
    paths:
      - target/*/release/fosr
      - target/debian/*.deb
      - doc

build-linux-x86-32:
  tags:
    - ci.inria.fr
    - large
  stage: build
  image: rust
  script:
    - cargo install cargo-deb
    - apt update
    - apt install -y gcc-i686-linux-gnu
    - rustup target add i686-unknown-linux-gnu
    # Aya doesn’t compile for some reason
    - cargo build --target=i686-unknown-linux-gnu --config target.i686-unknown-linux-gnu.linker=\"i686-linux-gnu-gcc\" -p fosr -r
    - cargo deb --target=i686-unknown-linux-gnu -p fosr -- --config target.i686-unknown-linux-gnu.linker=\"i686-linux-gnu-gcc\"
  artifacts:
    paths:
      - target/*/release/fosr
      - target/debian/*.deb

build-linux-raspberry-pi:
  # a build targeting old rapsberry pi with armv6 processors
  tags:
    - ci.inria.fr
    - large
  stage: build
  image: rust
  script:
    - rustup toolchain install nightly --component rust-src
    - cargo install bpf-linker
    - cargo install cargo-deb
    - apt update
    - apt install -y gcc-arm-linux-gnueabihf
    - rustup target add arm-unknown-linux-musleabihf
    - cargo build --target=arm-unknown-linux-musleabihf --config target.arm-unknown-linux-musleabihf.linker=\"arm-linux-gnueabihf-gcc\" -p fosr -r
    - cargo deb --target=arm-unknown-linux-musleabihf -p fosr -- --config target.arm-unknown-linux-musleabihf.linker=\"arm-linux-gnueabihf-gcc\"
    - cd target/debian
    - debname=$(ls *.deb)
    - mv $debname rpi_$debname
  artifacts:
    paths:
      - target/*/release/fosr
      - target/debian/*.deb

build-linux-arm-32:
  tags:
    - ci.inria.fr
    - large
  stage: build
  image: rust
  script:
    - rustup toolchain install nightly --component rust-src
    - cargo install bpf-linker
    - cargo install cargo-deb
    - apt update
    - apt install -y gcc-arm-linux-gnueabihf
    - rustup target add arm-unknown-linux-gnueabihf
    - cargo build --target=arm-unknown-linux-gnueabihf --config target.arm-unknown-linux-gnueabihf.linker=\"arm-linux-gnueabihf-gcc\" -p fosr -r
    - cargo deb --target=arm-unknown-linux-gnueabihf -p fosr -- --config target.arm-unknown-linux-gnueabihf.linker=\"arm-linux-gnueabihf-gcc\"
  artifacts:
    paths:
      - target/*/release/fosr
      - target/debian/*.deb

build-linux-arm-64:
  tags:
    - ci.inria.fr
    - large
  stage: build
  image: rust
  script:
    - rustup toolchain install nightly --component rust-src
    - cargo install bpf-linker
    - cargo install cargo-deb
    - apt update
    - apt install -y gcc-aarch64-linux-gnu
    - rustup target add aarch64-unknown-linux-gnu
    - cargo build --target=aarch64-unknown-linux-gnu --config target.aarch64-unknown-linux-gnu.linker=\"aarch64-linux-gnu-gcc\" -p fosr -r
    - cargo deb --target=aarch64-unknown-linux-gnu -p fosr -- --config target.aarch64-unknown-linux-gnu.linker=\"aarch64-linux-gnu-gcc\"
  artifacts:
    paths:
      - target/*/release/fosr
      - target/debian/*.deb

build-win64-x86:
  tags:
    - ci.inria.fr
    - large
  stage: build
  image: rust
  script:
    - apt update
    - apt install -y binutils-mingw-w64-x86-64 gcc-mingw-w64
    - rustup target add x86_64-pc-windows-gnu
    - cargo build --target=x86_64-pc-windows-gnu -p fosr -r
  artifacts:
    paths:
      - target/*/release/fosr.exe

build-win32-x86:
  tags:
    - ci.inria.fr
    - large
  stage: build
  image: rust
  script:
    - apt update
    - apt install -y binutils-mingw-w64-x86-64 gcc-mingw-w64
    - rustup target add i686-pc-windows-gnu
    - cargo build --target=i686-pc-windows-gnu -p fosr -r
  artifacts:
    paths:
      - target/*/release/fosr.exe


# build-freebsd-x86-64:
#   tags:
#     - ci.inria.fr
#     - large
#   stage: build
#   image: docker:latest
#   script:
#     - apk add curl build-base
#     - curl --proto '=https' --tlsv1.2 https://sh.rustup.rs -sSf | sh -s -- -y
#     - . "$HOME/.cargo/env"
#     - cargo install cross --git https://github.com/cross-rs/cross
#     - rustup toolchain add stable-x86_64-unknown-linux-gnu --force-non-host
#     - cross build --target x86_64-unknown-freebsd -p fosr -r --no-default-features
#   artifacts:
#     paths:
#       - target/*/release/fosr

test-audit:
  tags:
    - ci.inria.fr
    - large
  stage: test
  image: rust
  script:
    - cargo install cargo-audit
    - cargo audit -D unsound -D yanked
  allow_failure: true

test-publish:
  tags:
    - ci.inria.fr
    - large
  stage: test
  image: rust
  script:
    - rustup toolchain install nightly --component rust-src
    - cargo install bpf-linker
    - cargo build --release
    - cargo publish --dry-run
  allow_failure: true # it can fail on new version update

tests:
  tags:
    - ci.inria.fr
    - large
  stage: test
  image: rust
  rules:
    # other branch may have outdated tests
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
  script:
    # generation only, so no need for ebpf
    - cargo test -p fosr -- --nocapture
    - mv crates/fosr/deterministic-test.pcap sample.pcap
  artifacts:
    when: always
    paths:
      - crates/fosr/deterministic-test.pcap # in case of an error
      - sample.pcap

eval-zeek:
  image: zeek/zeek
  tags:
    - ci.inria.fr
    - small
  stage: analyze
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
  script:
    - apt update
    - apt install -y zip
    - mkdir analysis
    - cd analysis
    - zeek -r ../sample.pcap
    - cd ..
    - zip -r analysis-zeek.zip analysis
  artifacts:
    paths:
      - analysis-zeek.zip

eval-tshark:
  image: alpine
  tags:
    - ci.inria.fr
    - small
  stage: analyze
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
  script:
    - apk add tshark zip
    - mkdir analysis
    - capinfos sample.pcap > analysis/capinfos.txt
    - tshark -r sample.pcap > analysis/summary_per_pkt.txt
    - tshark -r sample.pcap -z expert -q > analysis/expert.txt
    - tshark -r sample.pcap -z conv,ip -q > analysis/conv_ip.txt
    - tshark -r sample.pcap -z conv,udp -q > analysis/conv_udp.txt
    - tshark -r sample.pcap -z conv,tcp -q > analysis/conv_tcp.txt
    - zip -r analysis-tshark.zip analysis
  artifacts:
    paths:
      - analysis-tshark.zip

eval-suricata:
  image: alpine
  tags:
    - ci.inria.fr
    - small
  stage: analyze
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
  script:
    - apk add suricata zip
    - mkdir analysis
    - suricata -c /etc/suricata/suricata.yaml -r sample.pcap > analysis/analysis.txt
    - zip -r analysis-suricata.zip analysis
  artifacts:
    paths:
      - analysis-suricata.zip


pages:
  image: debian:bookworm # required to run fosr
  tags:
    - ci.inria.fr
    - small
  stage: deploy
  pages:
    publish: public
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
  script:
    - apt update
    - apt install -y pandoc
    - mv doc public/
    - mv target public/bin
    - mv *.zip public/
    - mv sample.pcap public/
    - cd public
    # update the build number
    - echo -e "\nBuild version $CI_COMMIT_SHORT_SHA, compiled on $(date -I).\n" >> intro.md
    - chmod +x ./bin/x86_64-unknown-linux-gnu/release/fosr
    # add the --help output
    - ./bin/x86_64-unknown-linux-gnu/release/fosr create-pcap --help >> howto-pcap.md
    - echo "\`\`\`" >> howto-pcap.md
    - ./bin/x86_64-unknown-linux-gnu/release/fosr inject --help >> howto-inject.md
    - echo "\`\`\`" >> howto-inject.md
    - ./bin/x86_64-unknown-linux-gnu/release/fosr pcap2flow --help >> howto-pcap2flow.md
    - echo "\`\`\`" >> howto-pcap2flow.md
    - ./bin/x86_64-unknown-linux-gnu/release/fosr untaint --help >> howto-untaint.md
    - echo "\`\`\`" >> howto-untaint.md
    # update the deb file paths
    - sed -i -e "s/FOSR_VERSION/$(./bin/x86_64-unknown-linux-gnu/release/fosr -V | cut -d" " -f 2)/g" compile.md
    - pandoc intro.md compile.md howto-pcap.md howto-inject.md howto-pcap2flow.md howto-untaint.md config_doc.md other_software.md schema.md roadmap.md usecases.md analysis.md limitations.md refs.md -o index.html --template template.html --include-after-body footer.html --standalone --toc --toc-depth 1
    - rm *.md
  artifacts:
    paths:
      - public

